audio:not([controls]) {
    display:none;
    height:0;
    }

html {
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-size:62.5%;
    -webkit-tap-highlight-color:transparent;
    }

body {
    font-family:"Open Sans",Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:1.5;
    color:#413c35;
    background-color:#f2f2f2;
    position:relative;
    margin:0;
    }
.banner{
    background-color: #413C35;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    color: #B1B0A7;
    padding-top: 2px;
}   
.banner p{
    padding-top: 5px;
    }
.banner ul, ol{
    margin-left: -45px;
    }
.banner ul > li{
    list-style: none outside none;
    display: inline-block;
    padding: 5px 5px 0px 5px;
}   
.banner ul>li>a{
    text-decoration: none;
    color:#B1B0A7;
}
.banner ul>li:hover a{
    color:#f3f2eb;
}
.banner .dropdown-menu {
    position: absolute;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 60px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 11px;
    text-align: left;
    list-style: none outside none;
    background-color:#413C35;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    text-decoration: none;
}
.banner .dropdown-menu li>a:hover, .banner .dropdown-menu li>a:focus{
    background-color:#5D564C;
    color:#B1B0A7;
}
.red{
    color: red;
}   
.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.jumbotron-slide {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: none;
}
.jumbotron-slide h1,
.jumbotron-slide .h1 {
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
}
.jumbotron-slide p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron-slide > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron-slide {
  border-radius: 6px;
}
.jumbotron-slide .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron-slide {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron-slide {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron-slide h1,
  .jumbotron-slide .h1 {
    font-size: 63px;
  }
}
.banner-bg{
background: none repeat scroll 0% 0% #F3F2EB;
}   
.banner-bg-content{
    padding: 25px 0px 25px 25px;
    transition: all 0.2s linear 0s;
    color: #B1B0A7;
    line-height: 1.35;
    font-size: 16px;
    display: block;
}   
.banner-bg-content .glyphicon{
    display: block;
    font-size: 32px;
    float: left;
    margin: 0px 10px 0px 0px;
}   
.banner-bg-content:hover{
    color: #413C35;
}
.title_divider:after{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #E5E5DC;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0px
}   
.title_divider{
    width: 100%;
    text-align: center;
}   
.title_divider_text{
    display: inline-block;
    padding: 0px 10px;
    margin: 60px 0px;
    background-color: #FFF;
}   
.title_circle{
    background-color: #71A866;
    color:#fff;
    border-radius: 50%;
    padding: 40px 47px;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
    width: 160px;
    height: 160px;
    text-shadow: 0px 2px 5px rgba(65, 60, 53, 0.25);
}   
.img-news{
    max-width: 25%;
    max-height: 25%;
    margin-bottom: 10px;
    margin-right: 10px;
}   
a.slide-left{
    position:absolute;
    top:15%;
    color: #71A866;
    font-size: 30px;
    left: 10%;
}   
a.slide-right{
    position:absolute;
    top:15%;
    color: #71A866;
    right: 10%;
    margin-left: auto;
    font-size: 30px;
}

a.slide-left:hover, a.slide-left:focus, a.slide-left:active{
    color: #009300;
}   
a.slide-right:hover, a.slide-right:focus, a.slide-right:active{
    color: #009300;
}   
.slide_team_title{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    text-align: center;

}   
img.img-slide{
    width: 75%;
    height: auto;
    margin-left: 10%;
    margin-right: auto;
    max-width: 80%;
}   
.mid_banner{
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: none repeat scroll 0% 0% #F3F2EB;
    color: #009300;
}
